body{
	background-color: #F5F5F5;
	font-family: "微软雅黑";
}
.header{
	background-color: white;
	color: #252525;
	box-shadow: 0px 0px 15px #ccc;
}
.header_title{font-weight: bold;}
.rebanner{background-color: white;}
.retouxiang>img,.retouxiang{border-radius: 50%;}
.retouxiang{overflow: hidden;}
.telphone{
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 0px;
}
input{outline: none;}
.password{
	width: 100%;
	border-bottom: 1px solid #EBEBEB;
}
.passinp{
	width: 70%;
	border: none;
	outline: none;
	border-radius: 0px;
}
.code{
	border: 1px solid #288CCA;
	color: #288CCA;
	background-color: white;
	border-radius: 4px;
}
.complet{
	width: 100%;
	border: none;
	outline: none;
	color: white;
	background-color: #288CCA;
	border-radius: 4px;
	font-weight: bold;
}
.fanhui>img{
	width: 100%;
	height: 100%;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #C6C6C6;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #C6C6C6;
}

input:-ms-input-placeholder{
	color: #C6C6C6;
}

input::-webkit-input-placeholder{
	color: #C6C6C6;
}


@media all and (min-width: 769px){
	.header{height: 40px;padding: 0px 12px;}
	.fanhui{width: 12px;height: 20px;}
	.header_title{font-size: 20px;}
	.passinp,.code,.telphone{font-size: 15px;}
	.searchimg{width: 22px;height: 22px;}
	.rebanner{padding: 1px 22px;margin-top: 8px;}
	.foot{padding: 1px 22px;}
	.retouxiang>img,.retouxiang{width: 111px;height: 111px;}
	.retouxiang{margin: 30px auto;}
	.password,.telphone{height: 47px;}
	.passinp{height: 47px;}
	.code{width: 84px;height: 27px;}
	.complet{margin-top: 70px;height: 41px;font-size: 18px;}
}
@media all and (max-width: 768px){
	.header{height: 40px;padding: 0px 12px;}
	.fanhui{width: 12px;height: 20px;}
	.header_title{font-size: 20px;}
	.passinp,.code,.telphone{font-size: 15px;}
	.searchimg{width: 22px;height: 22px;}
	.rebanner{padding: 1px 22px;margin-top: 8px;}
	.foot{padding: 1px 22px;}
	.retouxiang>img,.retouxiang{width: 111px;height: 111px;}
	.retouxiang{margin: 30px auto;}
	.password,.telphone{height: 47px;}
	.passinp{height: 47px;}
	.code{width: 84px;height: 27px;}
	.complet{margin-top: 70px;height: 41px;font-size: 18px;}
}
@media all and (max-width: 414px) {
	.header{height: 40px;padding: 0px 12px;}
	.fanhui{width: 12px;height: 20px;}
	.header_title{font-size: 20px;}
	.passinp,.code,.telphone{font-size: 15px;}
	.searchimg{width: 22px;height: 22px;}
	.rebanner{padding: 1px 22px;margin-top: 8px;}
	.foot{padding: 1px 22px;}
	.retouxiang>img,.retouxiang{width: 111px;height: 111px;}
	.retouxiang{margin: 30px auto;}
	.password,.telphone{height: 47px;}
	.passinp{height: 47px;}
	.code{width: 84px;height: 27px;}
	.complet{margin-top: 70px;height: 41px;font-size: 18px;}
}
@media all and (max-width: 380px) {
	.header{height: 40px;padding: 0px 12px;}
	.fanhui{width: 12px;height: 20px;}
	.header_title{font-size: 19px;}
	.passinp,.code,.telphone{font-size: 14px;}
	.searchimg{width: 20px;height: 20px;}	
	.rebanner{padding: 1px 22px;margin-top: 8px;}
	.foot{padding: 1px 22px;}
	.retouxiang>img,.retouxiang{width: 111px;height: 111px;}
	.retouxiang{margin: 30px auto;}
	.password,.telphone{height: 47px;}
	.passinp{height: 47px;}
	.code{width: 84px;height: 27px;}
	.complet{margin-top: 70px;height: 41px;font-size: 18px;}
}
@media all and (max-width: 320px) {
	.header{height: 40px;padding: 0px 12px;}
	.fanhui{width: 12px;height: 20px;}
	.header_title{font-size: 17px;}
	.passinp,.code,.telphone{font-size: 13px;}
	.searchimg{width: 15px;height: 15px;}
	.rebanner{padding: 1px 22px;margin-top: 8px;}
	.foot{padding: 1px 22px;}
	.retouxiang>img,.retouxiang{width: 105px;height: 105px;}
	.retouxiang{margin: 30px auto;}
	.password,.telphone{height: 40px;}
	.passinp{height: 40px;}
	.code{width: 84px;height: 27px;}
	.complet{margin-top: 60px;height: 35px;font-size: 17px;}
}