<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>关于VIP</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/aboutVIP.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/aboutVIP.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">关于VIP</div>
			<div class="searchimg"></div>
		</div>
		<div class="flex_column banner">
			<img class="banvip" src="../images/img.png" alt="" />
			<a href="">
				<button class="vipbtn">立即开通VIP会员</button>
			</a>
		</div>
		<div class="login_text flex_center">
			<span class="login_xian"></span>
			<span class="login_xian2">VIP会员说明</span>
			<span class="login_xian"></span>
		</div>
		<div class="remark">
			<p class="remarktext1">1.什么是同兴VIP会员？</p>
			<p class="remarktext2">同兴VIP主要针对中小企业量身打造的VIP会员服务。</p>
		</div>
		<div class="remark">
			<p class="remarktext1">2.同兴VIP会员的费用是多少？</p>
			<p class="remarktext2">同兴VIP会员一年是998元。</p>
		</div>
		<div class="remark remarkfooter">
			<p class="remarktext1">3.同兴VIP会员有什么用？</p>
			<p class="remarktext2">可以领取平台优惠券和商家优惠券，同时可以获得属于自己的推荐码来赚钱。</p>
		</div>
	</body>
</html>
