<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>同兴>账户管理</title>
    <link rel="stylesheet" href="../font/demo.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/fontsize.css"/>
    <link rel="stylesheet" href="../css/account_manager.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/account_manager.js"></script>
</head>
<body>
    <div class="flex_between header">
        <a class="fanhui" href="javascript:history.back(-1)">
            <img src="../images/fanhui@2x.png" alt="" />
        </a>
        <div class="header_title">账户管理</div>
        <div class="searchimg"></div>
    </div>
    <div class="ybanner">
        <div>个人信息</div>
        <div class="flex_items">
        	<img class="touxiang" src="" alt="" />
        	<span class="icon iconfont icon-arrowright"></span>
        </div>
    </div>
	<ul class="ycontent">
		<li>
			<span>账户安全</span>
			<span class="icon iconfont icon-arrowright"></span>
		</li>
		<li>
			<span>服务地址</span>
			<span class="icon iconfont icon-arrowright"></span>
		</li>
		<li>
			<span>修改密码</span>
			<span class="icon iconfont icon-arrowright"></span>
		</li>
	</ul>
	<div class="flex_items accbtn">
    	<button class="zhuce">退出登录</button>
   </div>

    <!--——————————————————-->
    <div class="bombbox">
        <div class="flex_center bomin">
            <div class="boxin">
                <p class="tuichu">退出登录</p>
                <p class="queding">确定退出当前账号</p>
                <div class="boxfoot">
                    <div class="cancel">取消</div>
                    <a href="../views/login.html" class="quebtn">确定</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>