<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>设置地址</title>
		<link rel="stylesheet" href="../font/demo.css">
    	<link rel="stylesheet" href="../font/iconfont.css">
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/address_add.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/address_add.js"></script>

	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">设置地址</div>
			<div class="searchimg"></div>
		</div>
		<div class="list flex_items listone">
			<div>联系人</div>
			<input type="text" placeholder="请输入姓名"/>
		</div>
		<div class="list flex_items">
			<div>手机号</div>
			<input type="number" placeholder="11位手机号"/>
		</div>
		<div class="list flex_items">
			<div>选择地址</div>
			<a href=""><span class="listadd">地区信息</span></a>
		</div>
		<div class="list flex_items">
			<div>详细住址</div>
			<input type="text" placeholder="街道门牌信息"/>
		</div>

		<div class="flex_column invfoot">
			<div class="flex_items">
				<img class="gouxaun" src="../images/gouxuan.png" alt="" />
				<span class="set">设为默认地址</span>
			</div>
			<button class="voicebtn">保&nbsp;&nbsp;存</button>
		</div>


	</body>
</html>
