<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>售后订单</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/afterorder.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/afterorder.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">售后订单</div>
			<div class="searchimg"></div>
		</div>
		<ul class="headernav flex_between">
			<li class="flex_center headertwo heactive">审核未通过</li>
			<li class="flex_center headertwo">正在审核</li>
			<li class="flex_center headertwo">审核已通过</li>
		</ul>

		<!--—————————内容部分—————————-->
		<div>
			<div class="watch" style="display: block;">
				<div class="watchleft">
					<img class="watchimg" src="../images/hehuo.png" alt="" />
					<div>
						<div class="flex_between">
							<p class="font2">内资公司注册</p>
							<p class="fontcolor">审核未通过</p>
						</div>
						<div class="content">
							注册公司是创业的第一步
							注册公司是创业的第一步
						</div>
					</div>
				</div>
			</div>

			<div class="watch">
				<div class="watchleft">
					<img class="watchimg" src="../images/hehuo.png" alt="" />
					<div>
						<div class="flex_between">
							<p class="font2">内资公司注册</p>
							<p class="fontcolor">正在审核</p>
						</div>
						<div class="content">
							注册公司是创业的第一步
							注册公司是创业的第一步
						</div>
					</div>
				</div>
			</div>

			<div class="watch">
				<div class="watchleft">
					<img class="watchimg" src="../images/hehuo.png" alt="" />
					<div>
						<div class="flex_between">
							<p class="font2">内资公司注册</p>
							<p class="fontcolor">审核已通过</p>
						</div>
						<div class="content">
							注册公司是创业的第一步
							注册公司是创业的第一步
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
