<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>财税代办</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/agency.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/agency.js"></script>
	    <style type="text/css">
	    	.active{color: #F04844;border: 1px solid #F04844;}
	    </style>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">财税代办</div>
			<div class="searchimg"></div>
		</div>
		<div class="agency">
			<p class="title">内资公司注册</p>
			<p class="font1">
				<span class="font2">520</span>元起
			</p>
			<p class="font3">
				注册公司是成功创业的第一步。专属内资公司注册方案，免费核实
				24小时内提交审核，最快15天拿执照。
			</p>
		</div>
		<div class="agency">
			<p class="greytitle flex_items">
				<span class="xian"></span>
				<span>服务年限</span>
			</p>
			<ul class="agencyul flex_items">
				<li>一个月</li>
				<li>一个季度</li>
				<li>半年</li>
				<li class="active">一年</li>
			</ul>
		</div>
		<div class="agency">
			<p class="greytitle flex_items">
				<span class="xian"></span>
				<span>申报方式</span>
			</p>
			<ul class="agencyul flex_items">
				<li>不限</li>
				<li>零申报</li>
				<li class="active">非零申报</li>
			</ul>
		</div>
		<div class="agency">
			<p class="greytitle flex_items">
				<span class="xian"></span>
				<span>注册地址</span>
			</p>
			<ul class="agencyul flex_items">
				<li>自有地址</li>
				<li class="active">使用推荐地址</li>
			</ul>
		</div>
		<div class="agency">
			<p class="remarktitle">公司注册要注意的地方?</p>
			<div class="flex_items remarkcon">
				<div class="list">1</div>
				<div>注册地址必须可以商用</div>
			</div>
			<div class="flex_items remarkcon">
				<div class="list">2</div>
				<div>注册地址必须可以商用</div>
			</div>
			<div class="flex_items remarkcon">
				<div class="list">3</div>
				<div>注册地址必须可以商用</div>
			</div>
		</div>
		<div class="foot"></div>
		<!--固定部分-->
		<ul class="footer flex_between">
			<li class="flex_center">
				<img class="footimg" src="../images/kefu.png"/>
				<div>在线客服</div>
			</li>
			<li class="flex_center">
				<img class="footimg" src="../images/kefu1.png" alt="" />
				<div>呼叫客服</div>
			</li>
			<li class="flex_center yufu">预付定金</li>
		</ul>
	</body>
</html>
