<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>同兴>邀请码</title>
    <link rel="stylesheet" href="../css/fontsize.css"/>
    <link rel="stylesheet" href="../css/code.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/code.js"></script>
</head>
<body>
    <div class="flex_between header">
        <a class="fanhui" href="javascript:history.back(-1)">
            <img src="../images/fanhui@2x.png" alt="" />
        </a>
        <div class="header_title">邀请码</div>
        <div class="searchimg"></div>
    </div>
    <div class="codebox">
        <img class="codeback" src="../images/img11.png" alt=""/>
    </div>
    <p class="codenum">5555</p>
    <p class="mycode">复制我的邀请码</p>
    <div class="flex_items">
        <button class="zhuce">点击邀请好友</button>
    </div>
</body>
</html>