<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>同兴>公司注册</title>
    <link rel="stylesheet" href="../font/demo.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/fontsize.css"/>
    <link rel="stylesheet" href="../css/company.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/company.js"></script>
    <style type="text/css">
    	.guigeactive{
			color: #f54343;
			border: 2px solid #F54343;
		}
    </style>
</head>
<body>
    <div class="flex_between header">
        <a class="fanhui" href="javascript:history.back(-1)">
            <img src="../images/fanhui@2x.png" alt="" />
        </a>
        <div class="header_title">公司注册</div>
        <div class="searchimg"></div>
    </div>
    <div class="comzhuceimg">
        <img src="../images/shangpingxiangqing-img@2x.png" alt=""/>
    </div>
    <div class="cbanner">
        <div class="cbtitle flex_between">
            <span>内资注册公司</span>
            <span class="icon iconfont icon-aixin1 shoucang"></span>
        </div>
        <p class="cbmoney">520<span>&nbsp;元起</span></p>
        <p>注册公司是成功创业的第一步。专属内资公司注册方案，免费核名，24小时内提交审核，最快15天拿执照。</p>
    </div>
    <div class="flex_between cbgroup cbgroup1">
        <span>组合套餐</span>
        <span class="icon iconfont icon-arrowright"></span>
    </div>
    <ul class="groupul myul">
        <li class="flex_between cbgroup" >
            <div class="cbgrouptext">1.内资公司注册+商标注册</div>
            <span class="groupmoney">1000元</span>
        </li>
        <li class="flex_between cbgroup">
            <div class="cbgrouptext">1.内资公司注册+商标注册</div>
            <span class="groupmoney">1000元</span>
        </li>
        <li class="flex_between cbgroup">
            <div class="cbgrouptext">1.内资公司注册+商标注册商标注册商标注册</div>
            <span class="groupmoney">1000元</span>
        </li>
    </ul>
    <ul class="classifi">
    	<li class="comactive">规格</li>
    	<li>详情</li>
    	<li>评价</li>
    </ul>
	<div class="pancontent">
		<!--————————规格部分——————————-->
		<div class="guige company" style="display: block;">
			<div class="guigelist">
				<div class="guigeborder"></div>
				<div class="guigetitle">服务年限</div>
			</div>
			<ul class="guigeul">
				<li class="guigeli">一个月</li>
				<li class="guigeli">一个季度</li>
				<li class="guigeli">半年</li>
				<li class="guigeactive guigeli">一年</li>
			</ul>
			<div class="guigelist">
				<div class="guigeborder"></div>
				<div class="guigetitle">服务形式</div>
			</div>
			<ul class="guigeul">
				<li class="guigeli">标准服务</li>
				<li class="guigeactive guigeli">上门服务</li>
			</ul>
			<div class="guigelist">
				<div class="guigeborder"></div>
				<div class="guigetitle">注册地址</div>
			</div>
			<ul class="guigeul2">
				<li class="address1">自有地址</li>
				<li class="guigeactive address2">使用推荐地址</li>
			</ul>
			<div class="addressbox">
				<div class="comdizhi">
					<div>收货地址：</div>
					<div>湖北省武汉市洪山区街道口阜华大厦阜华大厦</div>
				</div>
				<div class="comdizhi">
					<div>收货地址：</div>
					<div>湖北省武汉市洪山区街道口阜华大厦阜华大厦</div>
				</div>
			</div>
		</div>
		
		<!--——————————详情部分————————————-->
		<div class="cominfo company">
			<img src="../images/tu4@2x.png" alt="" />
		</div>
		
		<!--——————————评论部分————————————-->
		<div class="comment company">
			<div class="flex_items">
				<div class="companyimg">
					<img src="../images/weixin.png" alt="" />
				</div>
				<div>
					<p>
						<span>武汉志汇科技</span>
						<span class="comtime">2017-11-22</span>
					</p>
					<div class="comstar">
						<img src="../images/pingjia-xing2@2x.png" alt="" />
						<img src="../images/pingjia-xing2@2x.png" alt="" />
						<img src="../images/pingjia-xing2@2x.png" alt="" />
						<img src="../images/pingjia-xing1@2x.png" alt="" />
						<img src="../images/pingjia-xing1@2x.png" alt="" />
					</div>
				</div>
			</div>
			<div class="comtext">很靠谱，很放心，处理速度非常快。</div>
			<div class="huifu">管理员&nbsp;王呵呵：靠谱放心使我们的宗旨。
				<div class="kuang"></div>
			</div>
		</div>
	</div>
	
	<div class="footbox"></div>
	<!--——————————底部部分————————————-->
	<div class="cfooter">
		<div class="cfooter_left">实付金额 <span>¥520.00</span></div>
		<div class="cfooter_right">立即购买</div>
	</div>

</body>
</html>