<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>商家优惠券详情页</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/fontsize.css"/>
    <link rel="stylesheet" href="../css/coupon-detial.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/coupon-detial.js"></script>
</head>
<body>
    <div class="flex_between header">
        <a class="back" href="javascript:history.back(-1)">
            <img class="fanhui" src="../images/fanhui@2x.png" alt="" />
        </a>
        <div class="header_title">商家优惠券详情页</div>
        <div class="searchimg"></div>
    </div>
    <div class="detail">
        <div class="dback">
            <div class="detailbox flex_column2">
                <div class="dclear">洗车优惠券</div>
                <p class="dmoney">¥<span>50</span></p>
                <p class="dzhi">到指定洗车行洗车，切首次洗车有效</p>
                <div class="dtime">有效期：及兑换日内10天有效</div>
            </div>
        </div>
        <div class="dbanner">
            <ul class="dcontent">
                <li>
                    <div class="yuan"></div>公司名称：
                    <span>顺祥汽车美容装饰洗车中心</span>
                </li>
                <li>
                    <div class="yuan"></div>公司地址：
                    <span>发展大道614-03号</span>
                </li>
                <li>
                    <div class="yuan"></div>联系方式：
                    <span>138-8888-8888</span>
                </li>
            </ul>
            <p class="detitle">使用说明</p>
            <ul class="shuoming">
                <li>1.全车内部+后备箱深沉清洁及除尘</li>
                <li>2.全车皮革保养及塑料部件上光</li>
                <li>3.另送洗车一次，铝圈深沉清洁。</li>
            </ul>
            <p class="detitle">领取限制</p>
            <div class="flex_items huiyuan">
                <div class="yuan"></div>
                <span>VIP会员等级</span>
            </div>
        </div>

    </div>
    <div class="dfootbox"></div>
    <div class="dfooterbox">
        <button class="dfooter">立即领取</button>
    </div>

</body>
</html>