<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>我的发票</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/infomation.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/information.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">消息盒子</div>
			<img class="searchimg" src="../images/shanchu.png"/>
		</div>
		<!--————————————————如果没有数据，显示中间这个内容————————————————————————-->
		<!--<div class="flex_center kong">
			<img src="../images/wushuju.png" alt="" />
		</div>-->
		<!--————————————————如果没有数据，显示中间这个内容————————————————————————-->
		<div class="box flex_between">
			<div class="flex_items">
				<div class="laba2">
					<img class="laba" src="../images/laba.png" alt="" />
					<div class="labayuan"></div>
				</div>
				<div class="setmation">
					<p class="setitle">系统消息</p>
					<div class="setbox">您收到一条系统发来的消息，点击查看。</div>
					<p class="settime">2017年11月01日</p>
				</div>
			</div>
			<img class="searchimg" src="../images/shanchu.png"/>
		</div>
		<div class="box flex_between">
			<div class="flex_items">
				<div class="laba2">
					<img class="laba" src="../images/laba.png" alt="" />
					<div class="labayuan"></div>
				</div>
				<div class="setmation">
					<p class="setitle">系统消息</p>
					<div class="setbox">您收到一条系统发来的消息，点击查看。</div>
					<p class="settime">2017年11月01日</p>
				</div>
			</div>
			<img class="searchimg" src="../images/shanchu.png"/>
		</div>
	</body>
</html>
