<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>我的发票</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/invoice.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/invoice.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">我的发票</div>
			<div class="searchimg"></div>
		</div>
		<div class="flex_center kong" style="display: none;">
			<img src="../images/wushuju.png" alt="" />
		</div>
		<div class="invoice_box flex_items">
			<img class="invoice_img" src="../images/fapiao@3x.png" alt=""/>
			<div class="invoice_content">
				<div class="invoice_text">
					<span>开票时间：</span>
					<span class="invoice_rit">2017-11-11</span>
				</div>
				<div class="invoice_text">
					<span>企业名称：</span>
					<span class="invoice_rit">2017-11-11</span>
				</div>
				<div class="invoice_text">
					<span>纳税人识别号：</span>
					<span class="invoice_rit">2017-11-11</span>
				</div>
				<div class="invoice_text">
					<span>企业地址：</span>
					<span class="invoice_rit">湖北省武汉市街道口湖北省武汉市街道口</span>
				</div>
				<div class="invoice_text">
					<span>联系人：</span>
					<span class="invoice_rit">王呵呵</span>
				</div>
				<div class="invoice_text">
					<span>联系电话：</span>
					<span class="invoice_rit">13971362910</span>
				</div>
			</div>
		</div>
		<a href="invoicenew.html">
			<div class="flex_items fapiaofoot">
				<button class="zhuce">添加新的发票</button>
			</div>
		</a>
	</body>
</html>
