<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>我的余额</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/mybalance.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/mybalance.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a href="javascript:history.back(-1)">
				<img class="fanhui" src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">我的余额</div>
			<div class="searchimg"></div>
		</div>
		<ul class="headernav flex_between">
			<li class="flex_center headertwo heactive">充值记录</li>			
			<li class="flex_center headertwo">消息记录</li>
			<li class="flex_center headertwo">提现记录</li>
			<li class="flex_center headertwo">返佣记录</li>
			<li class="flex_center headertwo">积分明细</li>
		</ul>
		<div>
			<div class="balance" style="display: block;">
				<!--<div class="bsection">-->
					<!--<div class="blistone flex_between">-->
						<!--<div>时间</div>-->
						<!--<div class="tfont2">2017-11-10</div>-->
					<!--</div>-->
					<!--<div class="blistone flex_between">-->
						<!--<div>记录</div>-->
						<!--<div class="tfont2">+500.00</div>-->
					<!--</div>-->
					<!--<div class="flex_between">-->
						<!--<div>余额</div>-->
						<!--<div>+ <span class="bfont1">0.00</span></div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div class="balance">
				<div class="flex_center kong">
					<img src="../images/wushuju.png" alt="" />
				</div>
			</div>
			
			<div class="balance">
				<div class="flex_center kong">
					<img src="../images/wushuju.png" alt="" />
				</div>
			</div>
			
			<div class="balance">
				<div class="flex_center kong">
					<img src="../images/wushuju.png" alt="" />
				</div>
			</div>
			<div class="balance">
				<div class="flex_center kong">
					<img src="../images/wushuju.png" alt="" />
				</div>
			</div>
		</div>
	</body>
</html>
