<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>同兴>我的粉丝</title>
    <link rel="stylesheet" href="../css/fontsize.css"/>
    <link rel="stylesheet" href="../css/myjunior.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/myjunior.js"></script>
</head>
<body>
    <div class="flex_between header">
        <a class="fanhui" href="javascript:history.back(-1)">
            <img src="../images/fanhui@2x.png" alt="" />
        </a>
        <div class="header_title">我的粉丝</div>
        <div class="searchimg"></div>
    </div>
    <div class="fbanner">

        <!--<ul class="headernav flex_items">-->
            <!--<li class="flex_center headerone">-->
                <!--一级（2）-->
            <!--</li>-->
            <!--<div class="heactive"></div>-->
            <!--<li class="flex_center headertwo">-->
                <!--二级（0）-->
            <!--</li>-->
        <!--</ul>-->

        <div>

            <!--———————————粉丝一级———————————-->
            <div class="fansone">
                <div class="fsection flex_items">
                    <img class="fansimg" src="" alt=""/>
                    <div class="fansname">
                        <p>王呵呵</p>
                        <p>注册时间：2017-11-16 16:56</p>
                    </div>
                </div>

                <div class="fsection flex_items">
                    <img class="fansimg" src="" alt=""/>
                    <div class="fansname">
                        <p>王呵呵</p>
                        <p>注册时间：2017-11-16 16:56</p>
                    </div>
                </div>
            </div>

            <!--———————————粉丝二级———————————-->
            <div class="fanstwo">
                <div class="flex_center kong">
                    <img src="../images/wushuju.png" alt="" />
                </div>
            </div>
        </div>


    </div>
</body>
</html>