<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>商户会员注册</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/myorder.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/myorder.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a href="javascript:history.back(-1)">
				<img class="fanhui" src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">我的订单</div>
			<div class="searchimg"></div>
		</div>
		<ul class="headernav flex_between">
			<li class="flex_center headertwo heactive">未付款</li>
			<li class="flex_center headertwo">已付款</li>
			<li class="flex_center headertwo">已完成</li>
			<li class="flex_center headertwo">已取消</li>
			<li class="flex_center headertwo">已退货</li>
		</ul>
		<div>
			<!--—————————————————————未付款部分开始—————————————————————————-->
			<!--<div class="flex_center kong unpaid" style="display: block;">-->
				<!--<img src="../images/wushuju.png" alt="" />-->
			<!--</div>-->
			<div class="unpaid" style="display: block;">
				<div class="unpaidlist">
					<div class="ordernum flex_between">
						<span>订单号：12345678996546456346</span>
						<span class="daifu">待付款</span>
					</div>
					<div class="flex_items box_border">
						<img class="contentimg" src="../images/hehuo.png" alt="" />
						<div class="contentext">
							<div class="cotitle">
								<div class="name">内资注册公注册公注册公司</div>
							</div>
							<div class="neirong">
								注册公司是创业绕不开的一步，你好啊欢迎光临三，
								你好啊欢迎光临德科技复活甲卡就浪费空间大卡迪夫简介
							</div>
						</div>
					</div>
					<div class="flex_between footbox">
						<div>
							<span class="heji">合计：</span>
							<span class="font3">1000.00元</span>
						</div>
						<div class="flex_items">
							<button class="btn btncancel">取消订单</button>
							<button class="btn btnque">立即支付</button>
						</div>
					</div>
				</div>

			</div>
			<!--—————————————————————未付款部分结束—————————————————————————-->
			
			<!--—————————————————————已付款部分开始—————————————————————————-->
			<div class="unpaid">
				<!--———第一条数据—————-->
				<div class="unpaidlist">
					<div class="ordernum flex_between">
						<span>订单号：12345678996546456346</span>
						<span class="daifu">待付款</span>
					</div>
					<div class="flex_items box_border">
						<img class="contentimg" src="../images/hehuo.png" alt="" />
						<div class="contentext">
							<div class="cotitle">
								<div class="name">内资注册公注册公注册公司</div>
							</div>
							<div class="neirong">
								注册公司是创业绕不开的一步，你好啊欢迎光临三，
								你好啊欢迎光临德科技复活甲卡就浪费空间大卡迪夫简介
							</div>
						</div>
					</div>
					<div class="shenqing">
						<a href="javascript:void(0);">
							<button>申请发票</button>
						</a>
					</div>

				</div>
				<!--————第一条数据———-->
				
			</div>
			<!--—————————————————————已付款部分开始—————————————————————————-->

			<!--—————————————————————已完成部分开始—————————————————————————-->
			<div class="unpaid">
				<!--——————————第一条数据———————-->
				<div class="unpaidlist">
					<div class="ordernum flex_between">
						<span>订单号：12345678996546456346</span>
						<span class="daifu">待付款</span>
					</div>
					<div class="flex_items box_border">
						<img class="contentimg" src="../images/hehuo.png" alt="" />
						<div class="contentext">
							<div class="cotitle">
								<div class="name">内资注册公注册公注册注册注册注册公司</div>
							</div>
							<div class="neirong">
								注册公司是创业绕不开的一步，你好啊欢迎光临三，
								你好啊欢迎光临德科技复活甲卡就浪费空间大卡迪夫简介
							</div>
						</div>
					</div>
					<div class="flex_between wancheng">
						<div>
							<button class="shouhou">申请售后</button>
						</div>
						<div class="flex_items">
							<button class="hulvebtn">忽略</button>
							<a href="../views/comment.html">
								<button class="pingbtn">评价</button>
							</a>
						</div>
					</div>

				</div>
				<!--———————————————第一条数据———————————————-->
			</div>
			<!--—————————————————————已完成部分结束—————————————————————————-->

			<!--—————————————————————已取消部分开始—————————————————————————-->
			<div class="unpaid">
				<!--——————————第一条数据———————-->
				<div class="unpaidlist">
					<div class="ordernum flex_between">
						<span>订单号：12345678996546456346</span>
						<span class="daifu">已取消</span>
					</div>
					<div class="flex_items box_border">
						<img class="contentimg" src="../images/hehuo.png" alt="" />
						<div class="contentext flex_column3">
							<div class="cotitle flex_between">
								<div class="name">内资注册公注册公注册公司</div>
							</div>
							<div class="neirong">
								注册公司是创业绕不开的一步，你好啊欢迎光临三，
								你好啊欢迎光临德科技复活甲卡就浪费空间大卡迪夫简介
							</div>
						</div>
					</div>
					<div class="flex_end wancheng">
						<button class="pingbtn">再次购买</button>
					</div>
				</div>
				<!--———————————————第一条数据———————————————-->
			</div>
			<!--—————————————————————已取消部分结束—————————————————————————-->
			
			<!--——————————————已退货部分部分开始———————————————————-->
			<div class="unpaid">
				<!--——————第一条数据————-->
				<a href="javascript:void(0);">
				<div class="unpaidlist">
					<div class="ordernum flex_between">
						<span>订单号：12345678996546456346</span>
						<span class="daifu">已退货</span>
					</div>
					<div class="flex_items box_border">
						<img class="contentimg" src="../images/hehuo.png" alt="" />
						<div class="contentext flex_column3">
							<div class="cotitle flex_between">
								<div class="name">内资注册公注册公注册公司</div>
							</div>
							<div class="neirong">
								注册公司是创业绕不开的一步，你好啊欢迎光临三，
								你好啊欢迎光临德科技复活甲卡就浪费空间大卡迪夫简介
							</div>

						</div>
					</div>
				</div>
				</a>
				<!--————第一条数据————-->
			</div>
			<!--—————————————————————已退货部分结束—————————————————————————-->
			
		</div>
	</body>
</html>
