<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>订单</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/order.css"/>	    
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/order.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a href="javascript:history.back(-1)">
				<img class="fanhui" src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">订单信息</div>
			<div class="searchimg"></div>
		</div>
		<div class="order_one">订单信息</div>
		<div class="order_address">
			<div>订单名字：</div>
			<div>内资注册公司</div>
		</div>
		<div class="order_address">
			<div>公司类型：</div>
			<div>有限公司</div>
		</div>
		<div class="order_address">
			<div>服务年限：</div>
			<div>一年</div>
		</div>
		<div class="order_address">
			<div>服务形式：</div>
			<div>上门服务</div>
		</div>		
		<div class="order_address">
			<div>注册地址：</div>
			<div>湖北省武汉市洪山区街道口阜华大厦D座2808室</div>
		</div><div class="order_address">
			<div>价格：</div>
			<div class="flex_between">
				<span>¥520.00</span>
				<span>×1</span>
			</div>
		</div>
		<div class="order_one">优惠券</div>
		<div class="ordersele">
			<div class="order_two">不使用优惠券</div>
			<div class="coupon">
				<!---->
				<div class="couponlist">
					<div class="cleft cblue">
						<p>¥<span>150</span></p>
						<p>优惠券</p>
					</div>
					<div class="cright">
						<p>公司注册</p>
						<div class="flex_between mancunpon">
							<div>满500可使用</div>
						</div>
						<p>即当天领取生效2017-11-12到期</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="order_one">支付方式</div>
		<div>
			<div class="order_two flex_between card">
				<p>账户余额</p>
				<div class="duigoubox">
					<img src="../images/gouxuan.png" alt="" style="display: block;"/>
				</div>
			</div>
			<div class="order_two flex_between card">
				<p>中国银行储蓄卡（0001）</p>
				<div class="duigoubox">
					<img src="../images/gouxuan.png" alt=""/>
				</div>
			</div>
			<div class="order_four flex_between card">
				<div class="flex_items">
					<img class="weixin" src="../images/weixin.png" alt="" />
					<div>微信支付</div>
				</div>
				<div class="duigoubox">
					<img src="../images/gouxuan.png" alt="" />
				</div>
			</div>
			<div class="order_four flex_between card">
				<div class="flex_items">
					<img class="weixin" src="../images/zhifubao.png" alt="" />
					<div>支付宝支付</div>
				</div>
				<div class="duigoubox">
					<img src="../images/gouxuan.png" alt="" />
				</div>
			</div>
		</div>
		<div class="remark">
			<!--<p><span class="yuan"></span>VIP会员自支付完成之时起5分钟内生效</p>-->
		</div>
		
		<!--—————————弹窗部分———————————-->
		<div class="orderbomb youhui">
			<ul class="orbombox">
				<li class="flex_items">不使用优惠券</li>
				<li class="flex_between">
					<span>公司注册</span>
					<span>×150.00</span>
				</li>
				<li class="flex_between">
					<span>公司注册</span>
					<span>×150.00</span>
				</li>
			</ul>
		</div>
		
		<!--—————————付款成功弹窗部分———————————-->
		<div class="fukuan">
			<div class="fukuan2">
				<p>付款成功</p>
				<p class="fukuanfont">恭喜你已成功购买此服务</p>
				<div class="fukuan_confirm">确定</div>
			</div>
		</div>
		
		<!--底部固定-->
		<div class="footer flex_items">
			<div class="footleft">实付金额：<span class="font2">¥998.00</span></div>
			<button class="footright">确认支付</button>
		</div>
	</body>
</html>
