<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>商户会员注册</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/sellervip.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/sellervip.js"></script>
	    
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">商户会员注册</div>
			<div class="searchimg"></div>
		</div>
		<div class="banner">
			<input class="sellinp" type="text" placeholder="公司名称" />
			<input class="sellinp" type="text" placeholder="公司地址" />
			<input class="sellinp" type="text" placeholder="联系人" />
			<input class="sellinp" type="email" placeholder="电子邮箱" />
			<input class="sellinp" type="text" placeholder="联系电话" />
			<div class="flex_items">
				<input class="sellinp2" type="text" placeholder="验证码" />
				<button class="code">获取验证码</button>
			</div>
			<div class="flex_items sellbox">
				<div class="sellzhi">企业营业执照</div>
				<img class="sellimg" src="../images/shang.png"/>
			</div>
		</div>
		<div class="sellbox_user">
			点击“注册”即表示您同意
			<a href=""><span class="selluser">《用户协议》</span></a>
		</div>
		<div class="flex_items">
			<button class="zhuce">申&nbsp;&nbsp;请</button>
		</div>
	</body>
</html>
