<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>系统设置</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/setting.css"/>
	    <link rel="stylesheet" href="../font/demo.css">
    	<link rel="stylesheet" href="../font/iconfont.css">
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/setting.js"></script>
	    <style type="text/css">
	    	@media all and (min-width: 769px) {
	    		.iconfont{font-size: 28px;}
	    	}
	    	@media all and (max-width: 768px) {
	    		.iconfont{font-size: 28px;}
	    	}
	    	@media all and (max-width: 414px) {
	    		.iconfont{font-size: 16px;}
	    	}
	    	@media all and (max-width: 380px) {
	    		.iconfont{font-size: 14px;}
	    	}
	    	@media all and (max-width: 320px) {
	    		.iconfont{font-size: 12px;}
	    	}
	    </style>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">账户充值</div>
			<div class="searchimg"></div>
		</div>
		<div class="setop setting flex_between">
			<div>联系我们</div>
			<div class="setright">400-888-888</div>
		</div>
		<div class="setop setting flex_between">
			<div>消息推送设置</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
		<div class="setting flex_between">
			<div>感兴趣推荐</div>
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
				<label class="onoffswitch-label" for="myonoffswitch">
					<span class="onoffswitch-inner"></span>
					<span class="onoffswitch-switch"></span>
				</label>
			</div>
		</div>
		<div class="setop setting flex_between">
			<div>常见问题</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
		<div class="setop setting flex_between">
			<div>评分</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
		<div class="setop setting flex_between">
			<div>服务协议</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
		<div class="setting flex_between">
			<div>隐私政策</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
		<div class="etop setting flex_between">
			<div>关于我们</div>
			<span class="setadd icon iconfont icon-arrowright"></span>
		</div>
	</body>
</html>
