<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>注册会员</title>	
		<link rel="stylesheet" href="../font/demo.css" />
		<link rel="stylesheet" href="../font/iconfont.css" />
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/success.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/success.js"></script>
	    
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">注册会员</div>
			<div class="searchimg"></div>
		</div>
		<div class="flex_column2">
			<div class="suyes">
				<span class="icon iconfont icon-duigou"></span>
			</div>
			<p class="sugood">恭喜你！已注册成功</p>
			<button class="sulogin">立即登录</button>
		</div>
	</body>
</html>
