<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>政策资讯</title>	
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/textinfo.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/textinfo.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">政策资讯</div>
			<div class="searchimg"></div>
		</div>
		<div class="content">
			<p class="cotitle">超百项社保卡功能即将上线，六中违规行为千万别做。</p>
			<p class="cotime">
				<span>同兴资讯</span>
				<span>2017-07-18 14:40:40</span>
				<span>阅读次数：10733次</span>
			</p>
			<p class="cotext">
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
				把信交给了我们当地的媒体，他们引用了其中的一部分内容。
			</p>
		</div>
		
		
		
	</body>
</html>
