<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>同兴>浏览记录</title>
		<link rel="stylesheet" href="../css/fontsize.css"/>
	    <link rel="stylesheet" href="../css/watch.css"/>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/watch.js"></script>
	</head>
	<body>
		<div class="flex_between header">
			<a class="fanhui" href="javascript:history.back(-1)">
				<img src="../images/fanhui@2x.png" alt="" />
			</a>
			<div class="header_title">浏览记录</div>
			<div class="searchimg"></div>
		</div>
		<div class="watch">
			<div class="watchleft flex_items">
				<img class="watchimg" src="../images/hehuo.png" alt="" />
				<div>
					<p class="font2">内资公司注册</p>
					<div class="content">
						注册公司是创业的第一步
						注册公司是创业的第一步
					</div>
					<div class="watchright">
						<span class="font1">520</span>元起
					</div>
				</div>
			</div>
		</div>
		<div class="watch">
			<div class="watchleft flex_items">
				<img class="watchimg" src="../images/hehuo.png" alt="" />
				<div>
					<p class="font2">内资公司注册</p>
					<div class="content">
						注册公司是创业的第一步
						注册公司是创业的第一步
					</div>
					<div class="watchright">
						<span class="font1">520</span>元起
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
